extends layout.pug
block content
    nav.grid-container.portfolio-breadcrumb
      a(href='/') â† Back
      h4 #{error.message}
      p.lead.text-light Please try request again. If the issue continues please contact the site administrator.
