extends layout.pug
block content
    nav.grid-container.portfolio-breadcrumb
      a(href='/') â† Back
      h4 #{error.message}
      p.lead.text-light Please press <strong>Back button</strong> to return to main page.
